* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header {
    width: 100%;
    height: calc(88px * 0.8);
    display: flex;
    background: linear-gradient(to left,
    #181823 70%, #000000 30%);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
.logo{
    width: (78.43px * 0.8);
    height: 24px;
    top: 32px;
    left: 72px;
    gap: 0px;
    opacity: 1px;
}
nav {
    display: flex;
    justify-content: space-around;
    gap: 0;
}
a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    padding: 32px 24px;
    gap: 10px;
    color: #FFFFFF;
    background-color: transparent;
    transition: background-color 0.3s;
    margin: 0;
}
a:hover {
    background-color: #5221E6; 
}

.dis1 {
    display: flex;
    flex-direction: row; 
    position: relative;
    background: linear-gradient(to left, #181823 70%, #000000 30%);
    padding-top: 80px; 
    padding-bottom: 84px; 
    overflow: hidden;
}
.left-side {
    flex: 1;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center; 
}
.left-side img {
    width: calc(750px * 0.8);
    height: 650px;
    gap: 0px;  
    object-fit: cover; 
    opacity: 1; 
    margin-left: 0;
}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; 
    position: relative; 
    margin-left: -250px; 
    z-index: 1; 
}
.right-side h1 {
    font-size: calc(3.3vw + 30.8px);
    font-weight: 700;
    line-height: 93.84px;
    color: white;
    position: relative;
    margin-bottom: 32px;
}
.right-side h1 span {
    font-size: calc(3.3vw + 30.8px);
    font-weight: 700;
    line-height: 93.84px;
    color: #5B6876; 
}
.right-side p{
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.s2{
    max-width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 120px 72px;
}

.s2 span{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #8491A0;
    display: block;
    margin-left: 72px;
}
.s2 h2{
    font-size: 55px;
    font-weight: 700;
    line-height: 66.17px;
    color: #FFFFFF;
    margin: 40px 678px 40px 72px;
}
.companies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 72px;
    margin-right: 72px;
}
.companies div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    position: relative;
}

.companies .title{
    font-size: 117px;
    line-height: 140.77px;
    color: #8491A0;
    margin-bottom: 5px;
    align-self: flex-start;
}
.companies .subtitle {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    white-space: nowrap;
    display: inline; 
    margin-left: 0; 
}
.companies .green { 
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #3CC74E; 
    display: inline;
}
.companies .blue {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #5221E6;
    display: inline;
}
.companies .pink{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #E95D90; 
    display: inline;
}
.companies p {
    font-size: 16px;
    line-height: 24px;
    color: #8491A0;
}

.dis3{
    max-width: 100%;
    background-color: #FFF3E4;
    display: flex;
}
.left-side2{
    flex: 1;
}
.left-side2 h2{
    font-size: 55px;
    font-weight: 700;
    line-height: 66.17px;
    color: #181823;
    margin-top: 120px;
    margin-left: 72px;
    margin-bottom: 24px;
}

.left-side2 p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #5B6876;
    margin-bottom: 134px;
    margin-left: 72px;
}
.left-side2 span{
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #8491A0;
    margin-left: 72px;
}
.right-side2{
    flex: 1;
    display: block;
}
.right-side2 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.dis4{
    background-color:#000000;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 72px;
    padding-right: 72px;
}
.scills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "scillset scills scills"
                        "scillset scills scills";
    gap: 24px 48px;
}
.scillset{
    grid-area: scillset;
}

.scillset h2{
font-size: 55px;
font-weight: 700;
line-height: 66.17px;
color: #FFFFFF;
margin-bottom: 24px;
}
.scills p{
font-size: 18px;
line-height: 27px;
color: #8491A0;
}
.scills span{
font-size: 24px;
font-weight: 700;
line-height: 36px;
margin-bottom: 12px;
align-items: flex-start; 
color: #FFFFFF;
}
.scills img{
    width: 32px;
height: 32px;
gap: 0px;
opacity: 0px;
margin-bottom: 24px;
align-items: flex-start; 
}

.image{
    display: flex;
    padding-left: 51px;
    padding-right: 51px;
    background-color:#000000;
}
.image div{
    width: calc(-8.6VW + 450px);
height: 140px;
    left: 51px;
    gap: 0px;
    border: 1px solid #181823;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 85px;
height: 30px;
top: 55px;
left: 179px;
gap: 0px;
opacity: 0px;
}

.dis6{
    max-width: 100%;
    display: flex;
    background-color:#000000;
}
.left-side5 {
    margin-top: 120px; 
    margin-left: 72px;
}

.left-side5 span {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #8491A0;
}
.left-side5 h2{
font-size: 55px;
font-weight: 700;
line-height: 66.17px;
color: #FFFFFF;
margin-bottom: 80px;
}

.div1 img{
    width: 636px;
height: 620px;
gap: 0px;
opacity: 0px;
}
.div1 div {
    width: 636px;
    height: 210px;
    top: 620px;
    padding: 40px 32px 40px 32px;
    gap: 13px;
    opacity: 0px;
    background-color: #181823;
    margin-bottom: 24px;
}
.div1 h3{
font-size: 24px;
font-weight: 700;
line-height: 36px;
color: #FFFFFF;
margin-bottom: 13px;
}
.div1 p{
font-size: 18px;
line-height: 27px;
color: #8491A0;
}
.div3 img{
    width: 636px;
height: 620px;
gap: 0px;
opacity: 0px;
}
.div3 div {
    width: 636px;
    height: 210px;
    top: 620px;
    padding: 40px 32px 40px 32px;
    gap: 13px;
    opacity: 0px;
    background-color: #181823;
    margin-bottom: 24px;
}
.div3 h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 13px;
}
.div3 p {
    font-size: 18px;
    line-height: 27px;
    color: #8491A0;
}
.div2{
    margin-top: 120px;
    margin-bottom: 24px;
    margin-right: 72px;
    margin-left: 24px;
}
.div2 img{
    width: 636px;
height: 620px;
gap: 0px;
opacity: 0px;
}
.div2 div {
    width: 636px;
    height: 210px;
    top: 620px;
    padding: 40px 32px 40px 32px;
    gap: 13px;
    opacity: 0px;
    background-color: #181823;
    margin-bottom: 24px;
}
.div2 h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 13px;
}
.div2 p{
    font-size: 18px;
    line-height: 27px;
    color: #8491A0;
}
.div4{
    margin-left: 24px;
    margin-bottom: 91px;
}
.div4 img{
    width: 636px;
height: 620px;
gap: 0px;
opacity: 0px;
}
.div4 div {
    width: 636px;
    height: 210px;
    top: 620px;
    padding: 40px 32px 40px 32px;
    gap: 13px;
    opacity: 0px;
    background-color: #181823;
    margin-bottom: 24px;
}
.div4 h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 13px;
}
.div4 p{
    font-size: 18px;
    line-height: 27px;
    color: #8491A0;
}
.right-side5 button {
    display: block; 
    margin: 0 auto; 
    width: 247px;
    height: 75px;
    padding: 24px 32px;
    border: 1px solid #5221E6;
    background-color: transparent; 
    color: #FFFFFF; 
    text-align: center; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.right-side5 button:hover {
    background-color: #5221E6; 
}




.dis7{
    max-width: 100%;
    background-color:#FBE4FF;
    display: flex;
    padding: 20px;
}

.right-side3 {
    flex: 1; 
}
.left-side3 h2{
    font-size: 55px;
    font-weight: 700;
    line-height: 66.17px;
    color: #181823;
    margin-bottom: 24px;
    margin-top: 120px;
    margin-left: 72px;
}

.left-side3 p{
    font-size: 18px;
    line-height: 27px;
    color: #5B6876;
    margin-bottom: 134px;
    margin-left: 72px;
}
.left-side3 span{
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #8491A0;
    cursor: pointer;
    margin-left: 72px;

}

.right-side3 img{
    width: 100vw; 
    height: 100vh; 
    object-fit: cover;
}

.dis8{
    background-color:#000000;
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
}
.dis8 h2{
font-size: 55px;
font-weight: 700;
line-height: 66.17px;
margin-top: 120px; 
    margin-bottom: 24px; 
    margin-left: 182px;
    color: #FFFFFF;
}

.dis8 p {
    font-size: 18px;
    line-height: 27px;
    width: 636px;
    color: #8491A0;
    margin-bottom: 40px;
    margin-left: 182px;
}
.dis8 span{
    color: #FFFFFF;
    border-bottom: 1px solid #8491A0;
    margin-bottom: 120px;
    margin-left: 182px;
}
.dis8 img{
    width: calc(60.2VW + 306px);
height: 640px;
border-radius: 0px 0px 8px 8px; 
margin-bottom: 120px; 
object-fit: cover;
margin-left: 182px;
}

.dis9 {
    display: flex; 
    padding: 20px; 
    background-color: #000000;
}

.left-side4 {
    flex: 1; 
    margin-top: 120px; 
    margin-left: 72px; 
    max-width: 636px;
}

.left-side4 h2 {
font-size: 55px;
font-weight: 700;
line-height: 66.17px;
margin-bottom: 24px;
color: #FFFFFF;
}

.left-side4 p {
font-size: 18px;
line-height: 27px;
margin-bottom: 40px;
color: #8491A0;
}

.left-side4 span {
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
border-bottom: 1px solid #8491A0;
}

.right-side4 {
    display: flex; 
    flex-direction: column; 
    margin-top: 120px; 
    margin-left: 24px; 
    gap: 120px; 
    margin-right: 72px; 
    max-width: 636px;
}

.right-side4 > div {
    background-color: #000000;
    border: 1px solid #5B6876;
    box-sizing: border-box;
}

.right-side4 img {
    max-width: 100%;
    width: 636px;
    height: 360px;
    gap: 0px;
    opacity: 0px;
    height: auto;
    display: block;
    margin-bottom: 64px;
    object-fit: cover; 
}

.right-side4 p {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 64px; 
    margin-left: 64px;
    margin-right: 64px;
    color: #FFFFFF;   
}

.right-side4 .title {
    display: block;
font-size: 18px;
font-weight: 700;
line-height: 27px;
margin-bottom: 4px;
margin-left: 64px;
    margin-right: 64px;
color: #5B6876;
}

.right-side4 .subtitle {
    display: block;
font-size: 18px;
line-height: 27px;
margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 64px;
    color: #5B6876; 
}

.dis10{
    padding: 20px; 
    background-color:#000000;
}
.dis10 h2{
font-size: 55px;
font-weight: 700;
line-height: 66.17px;
margin-top: 120px;
margin-bottom: 24px;
margin-left: 72px;
color: #FFFFFF;
}
.dis10 p{
    max-width: 588px;
font-size: 18px;
line-height: 27px;
color: #8491A0;
margin-left: 72px;
margin-bottom: 64px;
}
.buttons {
    display: flex;
    gap: 24px;
    margin-left: 72px;
    margin-bottom: 40px;
}
.buttons button {
    background-color: black;
    color: white;
    border: 1px solid #5221E6;
    padding: 16px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.buttons button:hover {
    background-color: #5221E6;
}
.images {
    display: flex;
    gap: 24px;
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 120px;
}
.images img {
    width: 306px;
    height: 420px;
    object-fit: cover;
    opacity: 1;
}

.dis11{
    display: flex; 
    padding: 120px 24px 0 182px;
    background-color: #000000;
}
.left-side6{
    flex: 1; 
}
.left-side6 h2{
font-size: 55px;
font-weight: 700;
line-height: 66.17px;
margin-bottom: 24px;
color: #FFFFFF;
}
.left-side6 p{
font-size: 18px;
line-height: 27px;
color: #8491A0;
}
.right-side6 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px; 
    margin-right: 24px; 

}
.right-side6 span{
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
margin-bottom: 8px;
}
.right-side6 input{
    width: 526px;
    height: 50px;
    top: 32px;
    gap: 0px;
    opacity: 0px;    
    padding: 12px; 
    background-color: #181823;
    border: none;
}
.right-side6 input[type="text"] {
    height: 50px; 
}

.right-side6 input:last-of-type {
    height: 100px; 
}
.right-side6 button {
    background-color: #5221E6; 
    color: #FFFFFF; 
    border: none; 
    padding: 16px 24px; 
    border-radius: 4px;
    width: 526px;
    height: 75px;
    padding: 24px 32px 24px 32px;
    gap: 10px;
    opacity: 0px;
    margin-bottom: 120px;
}


@media (max-width: 768px) {
    body {
        font-size: calc(16px * 0.875); 
    }

    .container {
        width: 90%;
    }

    .header {
        padding: 15px;
    }

    .hero {
        height: 400px;
    }

    .card {
        width: 45%;
        margin: 2.5%;
    }
}

@media (max-width: 360px) {
    body {
        font-size: calc(16px * 0.75); 
    }

    .container {
        width: 95%;
    }

    .header {
        padding: 10px;
    }

    .hero {
        height: 300px;
    }

    .card {
        width: 100%;
        margin: 5% 0;
        float: none;
    }
}